In [1]:
import pandas as pd

#### load data

In [2]:
protein_mapping = pd.read_csv('HUMAN_9606_idmapping.dat',sep='\t', header=None)
protein_mapping.rename(columns={0:'uniprot_id', 1:'id_type',2:'ID'}, inplace=True)
protein_mapping.head()

  uniprot_id       id_type           ID
0     P31946  UniProtKB-ID  1433B_HUMAN
1     P31946     Gene_Name        YWHAB
2     P31946            GI      4507949
3     P31946            GI    377656702
4     P31946            GI     67464628

In [3]:
gene_nodes = pd.read_csv('gene_nodes.txt', header=None)
gene_nodes.rename(columns={0:'ID'}, inplace=True)
print(len(gene_nodes))
gene_nodes.head()

1704

        ID
0  PLA2G10
1    FDFT1
2     UGCG
3   CYP1A2
4    RARS2

#### gene_name to uniprot_id

In [4]:
merged_df_1 = pd.merge(gene_nodes, protein_mapping, on = "ID", how = "inner")
merged_df_1 = merged_df_1[merged_df_1['id_type']=='Gene_Name']

In [5]:
merged_df_1

            ID uniprot_id    id_type
0      PLA2G10     O15496  Gene_Name
5      PLA2G10     H3BRW4  Gene_Name
7      PLA2G10     L8E7V2  Gene_Name
9      PLA2G10     O15496  Gene_Name
14     PLA2G10     H3BRW4  Gene_Name
...        ...        ...        ...
26724  PIKFYVE     C9JL08  Gene_Name
26726  PIKFYVE     F8WEZ0  Gene_Name
26728    MOCS2     O96033  Gene_Name
26733    MOCS2     O96007  Gene_Name
26739    MOCS2     E9PKT9  Gene_Name

[12422 rows x 3 columns]

#### uniprot_id to UniProtKB-ID

In [6]:
merged_df_1.drop(columns=['id_type'],inplace=True)
merged_df_1

            ID uniprot_id
0      PLA2G10     O15496
5      PLA2G10     H3BRW4
7      PLA2G10     L8E7V2
9      PLA2G10     O15496
14     PLA2G10     H3BRW4
...        ...        ...
26724  PIKFYVE     C9JL08
26726  PIKFYVE     F8WEZ0
26728    MOCS2     O96033
26733    MOCS2     O96007
26739    MOCS2     E9PKT9

[12422 rows x 2 columns]

In [7]:
merged_df_2 = pd.merge(merged_df_1, protein_mapping, on = "uniprot_id", how = "inner")
merged_df_2 = merged_df_2[merged_df_2['id_type']=='UniProtKB-ID']

In [8]:
merged_df_2.drop(columns=['uniprot_id','id_type'],inplace=True)
merged_df_2 = merged_df_2.drop_duplicates()

In [9]:
merged_df_2.rename(columns={'ID_x':'gene_name','ID_y':'entry_name'}, inplace=True)

In [10]:
merged_df_2.to_csv('uniprot-entry-names.csv',index=False)