In [1]:
import pandas as pd

In [12]:
bulk = pd.read_csv('pc-hgnc.sif/pc-hgnc.sif', sep='\t', header=None)
bulk.head()

      0                       1       2
0  A1BG  controls-expression-of     A2M
1  A1BG          interacts-with   ABCC6
2  A1BG          interacts-with    ACE2
3  A1BG          interacts-with  ADAM10
4  A1BG          interacts-with  ADAM17

In [13]:
binary_ppi_bulk = bulk[bulk[1]=='catalysis-precedes']
binary_ppi_bulk.head()

          0                   1      2
576  A4GALT  catalysis-precedes    ABO
577  A4GALT  catalysis-precedes    AK3
578  A4GALT  catalysis-precedes  ALG13
579  A4GALT  catalysis-precedes  ALG14
580  A4GALT  catalysis-precedes   ALG5

In [14]:
binary_ppi_bulk = binary_ppi_bulk.rename(columns={0:'node1', 2:'node2'})
binary_ppi_bulk = binary_ppi_bulk.drop(columns=1)

In [15]:
binary_ppi_bulk.to_csv('binary-ppi-bulk.csv', index=False)